<div class="container">
    <h3>New Album</h3>
    <form (ngSubmit)="onSubmit()" #albumForm="ngForm">
      <div class="form-group">
          
        <label for="title">Title</label>
        <input type="text" class="form-control" required
            ngControl="title" [(ngModel)]="model.title" #name="ngForm" >

        <label for="artist">Artist</label>
        <input type="text" class="form-control" required
            ngControl="artist" [(ngModel)]="model.artist" #name="ngForm" >

      </div>
      <button type="button" class="btn btn-default" (click)="newAlbum()" [disabled]="!albumForm.form.valid">Add</button>
    </form>
</div>
